In [8]:
import pandas as pd

# Read the data into a dataframe
df1 = pd.read_csv("cleaned_sentiment_data.csv")
df1["ico_success"].value_counts()

ico_success
1.0    582
0.0    234
Name: count, dtype: int64

In [9]:
# Read the data into a dataframe
df2 = pd.read_csv("cleaned_engagement_data.csv")
df2["ico_success"].value_counts()

ico_success
1.0    582
0.0    234
Name: count, dtype: int64

In [10]:
# Read the data into a dataframe
df3 = pd.read_csv("cleaned_data.csv")
df3["ico_success"].value_counts()

ico_success
1    582
0    234
Name: count, dtype: int64

In [11]:
(df1["ico_success"] == df2["ico_success"]).all()

True

In [12]:
(df1["ico_success"] == df3["ico_success"]).all()

True

In [13]:
df1

,token_name,total_positive_direct_mentions,total_negative_direct_mentions,total_positive_indirect_mentions,total_negative_indirect_mentions,soft_cap,ico_success
0,KXA,3053,1936,40100,28684,100000.0,1.0
1,MGA,2905,917,24796,25392,2850000.0,1.0
2,BICO,933,596,6544,6221,21100000.0,1.0
3,NEXT,1494,1902,3711,2196,3040000.0,0.0
4,UMAD,273,189,2426,2077,7540000.0,1.0
...,...,...,...,...,...,...,...
811,BTL,1263,480,5387,9996,3150000.0,1.0
812,ARC,2651,6730,6203,14883,2800000.0,0.0
813,SIS,735,1012,6190,6045,10080000.0,1.0
814,WIDI,738,347,4676,2220,100000.0,1.0
815,DEPO,623,1188,10004,12831,1010000.0,0.0

In [24]:
df1.iloc[480]

token_name                                DUO
total_positive_direct_mentions            266
total_negative_direct_mentions            180
total_positive_indirect_mentions         2208
total_negative_indirect_mentions         1689
soft_cap                            5100000.0
ico_success                               1.0
Name: 480, dtype: object